<%- include('./partials/head.ejs') %>
<nav class="index-headers">
    <div class="index-title">
        <h1>Express Yourself</h1>
        <h5>My Collection</h5>
    </div>
    <div class="index-user">
        <ul>
            <% if (messages.success) { %>
                <% for (let msg of messages.success) { %>
                    <li><%= msg %> </li>
                <% } %>
                
            <% } %>
            <li>
                <form method="post" action="/logout">
                <input type="submit" value="Logout" class="logout"/></form>
            </li>
            <li><a href="/vintage">Home</a></li>
            <li><a href="/vintage/mycollection/watch">Watchlist</a></li>
            <li><a href="/vintage/mycollection/create">Add New Item</a></li>
            <li> User: <%= name.username %></li>
            
            
        </ul>
       
   
    </div>
    
</nav>




<div class="collection-container">
    
<% vintage.forEach((element) => { %>
     <% if (element.user_id.valueOf() === name._id.valueOf()) { %>
        <div class="collection-items">
            <div class="collection-head">
                <h3 class="coll-head"><%= element.title %></h3>
                
            </div>    
                <img src="<%= element.imageURL %>" class="coll-img" alt="Image" >
            <div class="collection-buttons">
                <h6 class="price"> Price: $<%= element.price %> </h6>
                <a href="/vintage/myCollection/edit/<%= element._id %>" class="anchor">Edit Product</a> 
                <form action="/vintage/myCollection/<%= element._id %>?_method=DELETE" method="post">
                <input type="submit" value="Remove from Collection" id="remove-item"/>
                </form>
            
            </div
        ></div>
    <% } %>
        
<% }) %>

</div>





<%- include('./partials/foot.ejs') %>
