<%- include('./partials/head.ejs') %>

<nav class="index-headers">
    <div class="index-title">
        <h1>Express Yourself</h1>
        
    </div>
    <div class="index-user">
        <ul>
            <li>
                <form method="post" action="/logout">
                <input type="submit" value="Logout" class="logout"/></form>
            </li>
            <li><a href="/vintage">Home</a></li>
            <li><a href="/vintage/myCollection">My Collection</a> </li>
            <li> User: <%= name.username %></li>
        </ul>
   
    </div>
</nav>

<div class="show-products">
    <div class="show-img">
        <img src="<%= products.imageURL %>" alt="">
      </div>
    <div class="show-details">
        <p>Title: <%= products.title %> </p>
        <p>Price: <%= products.price %> </p>
        <p>Style: <%= products.style %> </p>
        <p>Brand: <%= products.brand %> </p>
        <p>Era: <%= products.era %> </p>
        <p>Description: <%= products.description %></p>
        <% if (products.stock === 0) { %>
            <p class="OOS">OUT OF STOCK</p>
            <% } else { %>
                <form action="/vintage/<%= products._id %>/buy?_method=PUT" method="post">
                    <input type="submit" value="Purchase" id="watch-buy"/>
                </form>
                <form action="/vintage/<%= products._id %>/watching?_method=PUT" method="post">
                    <input type="submit" value="Watch Item" id="watch-btn" />
                </form>
            <% } %>
            
    </div>    
</div> 




<%- include('./partials/foot.ejs') %>