<%- include('./partials/head.ejs') %>
<p>User: <%= name.username %></p>

    <h1>show page</h1>
    <p><%= products.title %> </p>
    <p><%= products.price %> </p>
    <p><%= products.style %> </p>
    <p><%= products.brand %> </p>
    <p><%= products.era %> </p>




<%- include('./partials/foot.ejs') %>